<a href="https://colab.research.google.com/github/MubasharBasharat/Python-AI-Learning-Journey/blob/main/day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def say_hello():
    print("hello_world")
say_hello()

hello_world

In [ ]:
def say_name(name):
    print(f"hello {name}")
say_name("zareesha")

hello zareesha

In [ ]:
def add(a,b):
    return a+b

sum=add("a","b")
print(f"sum is {sum}")

sum is ab

In [ ]:
def greet(name="AI Engineer"):
    print(f"Hello {name}!")

greet()          # Uses default
greet("Mubashar") # Overrides default

Hello AI Engineer!
Hello Mubashar!

In [ ]:
def get_grade(marks):
    if marks>90:
       print("you got A grade")
    else:
        print("you are fail")

get_grade(89)

you are fail

In [ ]:
def operations(a,b):
    sum=a+b
    diffreence=a-b
    return sum,diffreence

sum,diff=operations(10,5)
print(f"sum is {sum} difference is {diff}")

sum is 15 difference is 5

In [ ]:
fruits=[1,2,3,4,5]
fruits[0]=10
fruits.append(1)
fruits.remove(5)
print(fruits[0:5
             ])

[10, 2, 3, 4, 1]

In [ ]:
tuple1=(10,20)
print(tuple1)

(10, 20)

In [ ]:
student={
    "name":"Mubashar",
    "age":20,
    "is_ai_learner":True
}

20

In [1]:
students=[]

for i in range(0,3):
    s={}
    name=input("enter student name")
    s["name"]=name
    s['age']=23
    subjects=[]
    for j in range(2):
        subject=input("enter subject name")
        subjects.append(subject)
    s["subjects"]=subjects
    students.append(s)


print(students)

enter student namemubashar
enter subject namec++
enter subject nameoop
enter student nameali
enter subject namedevops
enter subject namemath
enter student nameahmed
enter subject nameapp dev
enter subject nameweb dev
[{'name': 'mubashar', 'age': 23, 'subjects': ['c++', 'oop']}, {'name': 'ali', 'age': 23, 'subjects': ['devops', 'math']}, {'name': 'ahmed', 'age': 23, 'subjects': ['app dev', 'web dev']}]

In [2]:
def calculate_average_age(students):
    average=0
    for student in students:
        average=average+student["age"]
    average=average/len(students)
    return average

def find_oldest_student(students):
    highestage=0
    highest_age_students=[]
    for student in students:

        if student["age"]>highestage:
            highest_age_students.clear()
            highest_age_students.append(student["name"])
            highestage = student["age"]
        elif student["age"] == highestage:
            highest_age_students.append(student["name"])
    return highest_age_students



def find_youngest_students(students):
    lowest_age=0
    lowest_age=students[0]["age"]
    lowest_age_list=[]
    for student in students[1:]:
        if student["age"]<lowest_age:
           lowest_age_list.clear()
           lowest_age_list.append(student["name"])
           lowest_age=student["age"]
        elif student["age"]==lowest_age:
           lowest_age_list.append(student["name"])
    print("students with lowest age are",lowest_age_list)
students = [
    {"name": "Ali", "age": 23},
    {"name": "Sara", "age": 20},
    {"name": "Ahmed", "age": 20},
    {"name": "Zain", "age": 25}
]
find_youngest_students(students)
# print(find_oldest_student(students))

students with lowest age are ['Sara', 'Ahmed']