In [10]:
def say_hello():
    print("hello_world")
say_hello()

hello_world

In [12]:
def say_name(name):
    print(f"hello {name}")
say_name("zareesha")

hello zareesha

In [16]:
def add(a,b):
    return a+b

sum=add("a","b")
print(f"sum is {sum}")

sum is ab

In [14]:
def greet(name="AI Engineer"):
    print(f"Hello {name}!")

greet()          # Uses default
greet("Mubashar") # Overrides default

Hello AI Engineer!
Hello Mubashar!

In [26]:
def get_grade(marks):
    if marks>90:
       print("you got A grade")
    else:
        print("you are fail")

get_grade(89)

you are fail

In [6]:
def operations(a,b):
    sum=a+b
    diffreence=a-b
    return sum,diffreence

sum,diff=operations(10,5)
print(f"sum is {sum} difference is {diff}")

sum is 15 difference is 5

In [11]:
fruits=[1,2,3,4,5]
fruits[0]=10
fruits.append(1)
fruits.remove(5)
print(fruits[0:5
             ])

[10, 2, 3, 4, 1]

In [14]:
tuple1=(10,20)
print(tuple1)

(10, 20)

In [19]:
student={
    "name":"Mubashar",
    "age":20,
    "is_ai_learner":True
}

20

In [5]:
students=[]

for i in range(0,3):
    s={}
    name=input("enter student name")
    s["name"]=name
    s['age']=23
    subjects=[]
    for j in range(2):
        subject=input("enter subject name")
        subjects.append(subject)
    s["subjects"]=subjects
    students.append(s)


print(students)
for key, value in s.items():
        print(f"{key}: {value}")

enter student nameali1
enter subject namesub1
enter subject namesub2
enter student nameali2
enter subject namesub1
enter subject namesub2
enter student nameali3
enter subject namesub1
enter subject namesub2
[{'name': 'ali1', 'age': 23, 'subjects': ['sub1', 'sub2']}, {'name': 'ali2', 'age': 23, 'subjects': ['sub1', 'sub2']}, {'name': 'ali3', 'age': 23, 'subjects': ['sub1', 'sub2']}]
name: ali3
age: 23
subjects: ['sub1', 'sub2']